### Requirements with out version control ###
seaborn
matplotlib
scikit-image
scikit-learn

### Version specifics ### 
## GPU BASED ##
pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116